@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: url( ./ShareTechMono.woff2 ) format('woff2');
}

@font-face {
    font-family: 'Keyboard';
    font-style: normal;
    font-weight: 400;
    src: url( ./Keyboard.woff2 ) format('woff2');
}

body {
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #31af91;
}