@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: url( ./ShareTechMono.woff2 ) format('woff2');
}

body {
    margin: 48px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #31af91;
}

header h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 900;
}

header h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
}